[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart=/opt/{{ nexus_version }}/bin/nexus start
ExecStop=/opt/{{ nexus_version }}/bin/nexus stop
User=nexus
Restart=on-abort

[Install]
WantedBy=multi-user.target
